[Unit]
Description=Pi Player
# network must be ready
After=network.target

[Service]
Type=simple
# change to your user and group.
User=user
Group=user
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
StartLimitIntervalSec=60
StartLimitInterval=60

# change to your install directory.
WorkingDirectory=/home/user/dev/go/pi-player
ExecStart=/home/user/dev/go/pi-player/pi-player

[Install]
WantedBy=multi-user.target