<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{.location}} Controller</title>
  <link rel="stylesheet" href="/assets/css/milligram.css">
  <link rel="stylesheet" href="/assets/css/control.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Slab">
</head>
<body>
  <div class="container">
    <div id="divControls">
      <h1>{{.location}} Controls</h1>
      <p>Currently playing: <span id="spCurrent">{{if .playlist.Current}}{{.playlist.Current.Name}}{{else}}Nothing{{end}}</span></p>
      <button data-command="pauseResume">Play/Pause</button>
      <button data-command="quit">Stop</button>
      <button data-command="seekBack30">Rewind</button>
      <button data-command="seekForward30">Fast Forward</button>
    </div>
    <div id="divControlPlaylist">
      <button data-method="previous">Previous Item</button>
      <button data-method="next">Next Item</button>
    </div>
    <div>
      <h2>Playlist</h2>
      <!-- <button id="btnRemove">Remove from Playlist</button> -->
      <button id="btnStart">Play Item</button>
      <table id="tblPlaylist">
        {{range .playlist.Items}}
          <tr><td>{{.Name}}</td></tr>
        {{end}}
      </table>
    </div>
    <div>
      <a href="/settings">Settings</a>
    </div>
  </div>
  <script src="/assets/js/control.js"></script>
</body>
</html>