<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{.location}} Controller</title>
  <link rel="stylesheet" href="/assets/css/milligram.css">
  <link rel="stylesheet" href="/assets/css/control.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Slab">
  <script defer src="/assets/js/fontawesome-all.min.js"></script>
</head>
<body>
  <div class="container">
    <div id="divStatus">
      <h1>{{.location}} Controls</h1>
      <p>Currently playing: <span id="spCurrent">{{if .playlist.Current}}{{.playlist.Current.Name}}{{else}}Nothing{{end}}</span></p>
    </div>
    <div id="divControls">
      <div>
        <button id="btnStart"><i class="fas fa-play-circle"></i></button>
      </div>
      <div id="divControlsPlayer">
        <button data-command="pauseResume" title="Play-Pause"><i class="fas fa-play"></i></button>
        <button data-command="quit" title="Stop"><i class="fas fa-stop"></i></button>
        <button data-command="seekBack30" title="Rewind"><i class="fas fa-fast-backward"></i></button>
        <button data-command="seekForward30" title="Fast Forward"><i class="fas fa-fast-forward"></i></button>
      </div>
      <div id="divControlPlaylist">
        <button data-method="previous" title="Previous"><i class="fas fa-step-backward"></i></button>
        <button data-method="next" title="Next"><i class="fas fa-step-forward"></i></button>
      </div>
    </div>
    <div>
      <h2>Playlist</h2>
      <table id="tblPlaylist">
        {{range .playlist.Items}}
          <tr>
            <td>{{.Name}}</td>
            <td>{{if .Audio}}
              <i class="fas fa-music"></i>
            {{end}}</td>
          </tr>
        {{end}}
      </table>
    </div>
    <div>
      <a href="/settings">Settings</a>
      <a href="/logout">Log out</a>
    </div>
  </div>
  <script src="/assets/js/control.js"></script>
</body>
</html>