<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{.location}} Settings</title>
  <link rel="stylesheet" href="/assets/css/milligram.css">
  <link rel="stylesheet" href="/assets/css/control.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Slab">
</head>
<body>
  <div class="container">
    <div id="divSettings">
      <h1>{{.location}} Settings</h1>
      <form action="/settings" method="POST" id="frmSettings">
        <label for="txtLocation">Location</label>
        <input type="text" id="txtLocation" name="location" value="{{.location}}">
        <label for="txtMountURL">Mount URL</label>
        <input type="text" id="txtMountURL" name="mountURL" value="{{.mount.URL}}">
        <label for="txtMountUsername">Mount Username</label>
        <input type="text" id="txtMountUsername" name="mountUsername" value="{{.mount.Username}}">
        <label for="txtMountDomain">Mount Domain</label>
        <input type="text" id="txtMountDomain" name="mountDomain" value="{{.mount.Domain}}">
        <label for="txtMountPassword">Mount Password</label>
        <input type="password" id="txtMountPassword" name="mountPassword" value="{{.mount.Password}}">
        <label for="txtUsername">Username</label>
        <input type="text" id="txtUsername" name="username" value="{{.username}}">
        <label for="txtPassword">Password</label>
        <input type="password" id="txtPassword" name="password">
        <label for="cbxDebug">Debug</label>
        <input type="checkbox" id="cbxDebug" name="debug" {{if .debug}}checked{{end}}>
        <h3>Audio Output</h3>
        <label for="radAudioOutput1">HDMI
          <input type="radio" id="radAudioOutput1" name="audioOutput" value="hdmi" {{if eq .audioOutput "hdmi"}}checked{{end}}>
        </label>
        <label for="radAudioOutput2">Audio Jack
          <input type="radio" id="radAudioOutput2" name="audioOutput" value="local" {{if eq .audioOutput "local"}}checked{{end}}>
        </label>
        <label for="radAudioOutput3">Both
          <input type="radio" id="radAudioOutput3" name="audioOutput" value="both" {{if eq .audioOutput "both"}}checked{{end}}>
        </label>
        <button type="submit">Save</button>
        <a href="/control">Controls</a>
      </form>
    </div>
  </div>
  <script> // script here </script>
</body>
</html>