<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{.location}} Controller</title>
  <link rel="stylesheet" href="/assets/css/milligram.css">
  <link rel="stylesheet" href="/assets/css/control.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Slab">
  <script defer src="/assets/js/fontawesome-all.min.js"></script>
</head>
<body>
  <div class="container">
    <div>
      <h2>Playlist</h2>
      <table id="tblPlaylist">
        {{- range $i, $e := .playlist.Items}}
          <tr data-index="{{$i}}">
            <td class="icon"><i class="fas fa-{{.Type}}"></i></td>
            <td class="icon">
              {{- if .Audio}}
              <i class="fas fa-music"></i>
              {{- end}}
              {{- if eq (index .Cues "clear") "audio"}}
              <i class="fas fa-bell-slash"></i>
              {{- end}}
            </td>
            <td class="item-name"><a href="/content/{{.Visual.Name}}">{{.Name}}</a></td>
          </tr>
        {{- end}}
      </table>
    </div>
  </div>
  <template id="tmpItemRow">
    <tr data-index="">
      <td class="icon"><i class="fas"></i></td>
      <td class="icon"><i class="fas"></i></td>
      <td class="item-name"></td>
    </tr>
  </template>
  <div id="divOverlay">
    <div id="divReconnect" class="warning">
      <h1 id="h1OverlayMsg">Connection Lost</h1>
      <h2>Reconnecting...</h2>
    </div>
    <div id="divDisconnect" class="warning">
      <h1 id="h1OverlayMsg">You've been disconnected by another user.</h1>
      <a href="/logout"><h2>Login again here to take back control.</h2></a>
    </div>
  </div>
</body>
</html>