<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets/css/milligram.css">
  <link rel="stylesheet" href="/assets/css/viewer.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Slab">
  <script defer src="/assets/js/fontawesome-all.min.js"></script>
  <title>Image and browser viewer</title>
</head>
<body>
  <div id="container"> <!-- style="background-image: url({{.img}})"> -->
    <video id="vidMedia"></video>
    <audio id="audMusic" loop></audio>
    <div id=containerPlaylist>
      <table id="tblPlaylist">
      </table>
    </div>
  </div>
  <template id="tmpItemRow">
    <tr class="item" tabindex="0" data-index="">
      <td></td>
      <td class="icon"><i class="fas"></i></td>
      <td class="icon"><i class="fas fa-music"></i></td>
      <td class="itemName"></td>
      <td></td>
    </tr>
  </template>
<script src="/assets/js/viewer.js"></script>
</body>
</html>