body {
  margin: 0;
}

td {
  padding: 1.2rem .5rem;
}

.selected {
  color: white;
  background-color: #9a52c8;
}

.container {
  padding-bottom: 7.5rem;
}

.icon {
  width: 1%;
}

.warning {
  display: none;
  text-align: center;
}

.warning > h1, .warning > h2 {
  font-weight: bolder;
}

#divControls {
  display: grid;
  grid-auto-flow: column;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: white;
}

#divControls button {
  padding: 1.5rem;
  margin: .1rem;
  height: auto;
  line-height: normal;
}

#divOverlay {
  /* display: grid; */
  align-items: center;
  justify-items: center;
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  color: white;
  background-color: #000B;
}
