html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

.item {
  color: black;
  text-shadow: 0 0 13px white;
}

.item:focus {
  color: white;
  background-color: #9b4dca66;
  outline: none;
}

#ulPlaylist {
  display: inline-grid;
}