[Unit]
Description=Pi Player
# network must be ready
After=network.target
PartOf=graphical-session.target

[Service]
Type=simple
# if using custom user and group, define here.
#User=user
#Group=user

Restart=on-failure
RestartSec=10
StartLimitInterval=60

Environment=DISPLAY=:0
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin
# change to your install directory.
WorkingDirectory=%h/.local/bin
ExecStart=%h/.local/bin/pi-player

[Install]
WantedBy=default.target
WantedBy=graphical-session.target

