[Unit]
Description=Pi Player

[Service]
Type=simple

Restart=on-failure
RestartSec=10
StartLimitInterval=60

WorkingDirectory=%h/.local/bin
ExecStart=%h/.local/bin/pi-player
