[Unit]
Description=Pi Player
Requires=graphical-session.target
After=graphical-session.target

[Service]
Type=simple

Restart=on-failure
RestartSec=10
StartLimitInterval=60

Environment=DISPLAY=:0
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin
WorkingDirectory=%h/.local/bin
ExecStart=%h/.local/bin/pi-player

[Install]
WantedBy=default.target
