[Unit]
Description=Unclutter the desktop by removing the mouse, on startup.

[Service]
Type=simple
ExecStart=unclutter -idle 1 -jitter 3

[Install]
WantedBy=default.target