<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{.location}} Settings</title>
  <link rel="stylesheet" href="/assets/css/milligram.css">
  <link rel="stylesheet" href="/assets/css/control.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Slab">
</head>
<body>
  <div class="container">
    <div id="divSettings">
      <h1>{{.location}} Setings</h1>
      <form action="" id="frmSettings">
        <label for="txtLocation">Location</label>
        <input type="text" id="txtLocation" value="{{.location}}">
        <label for="txtDirectory">Directory</label>
        <input type="text" id="txtDirectory" value="{{.directory}}">
      </form>
    </div>
  </div>
  <script> // script here </script>
</body>
</html>